[Unit]
Description=Daily Argus Observatory Report Timer
Requires=argus-report.service

[Timer]
OnCalendar=daily
OnCalendar=07:00
Persistent=true

[Install]
WantedBy=timers.target
